
.contact-section {
    padding: 80px 60px;
    background-color: #f9fafb;
}

.contact-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    gap: 60px;
}




.contact-info h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.contact-info p {
    color: #555;
    margin-bottom: 25px;
    line-height: 1.6;
}

.contact-info ul {
    list-style: none;
}

.contact-info li {
    margin-bottom: 10px;
    font-size: 15px;
}




.contact-form form {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.contact-form button {
    width: 100%;
    padding: 12px;
    background-color: #2563eb;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #1d4ed8;
}

/* Responsive */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }
}
