
.work-count {
    width: 100%;
    height: 200px;
    background-image: url("../Images/city.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    position: relative;
    background-attachment: fixed;
    margin-left: 0px; 
}


.work-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


.count-box h2 {
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 10px;
}

.count-box p {
    font-size: 14px;
    letter-spacing: 3px;
    color: #d1d1d1;
}
@media screen and (max-width: 768px) {
    .work-overlay {
        flex-direction: column;   
        gap: 20px;               
        height: auto;             
        padding: 20px 0;          
    }

    .count-box {
        margin: 0;                
    }

    .work-count {
        height: auto;            
    }
}




