.skill {
  margin-top: 20px;
}

.skill p {
  margin-bottom: 20px;
}

.skill_bg_box {
  background-color: #f2f3f7;
  border-radius: 8px;
}

.skill_percent_box {
  height: 6px;
  width: 80%;
  border-radius: 6px;
  position: relative;
}

.skill_percent_box > span {
  position: absolute;
  top: -22px;
  right: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
}

.skill_percent_box::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  width: 14px;
  height: 14px;
  background-color: inherit;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .all_skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

